[submodule "cmake/entt"]
	path = cmake/entt
	url = https://github.com/skypjack/entt
[submodule "cmake/imgui"]
	path = cmake/imgui
	url = https://github.com/dante1130/imgui
[submodule "cmake/catch2"]
	path = cmake/catch2
	url = https://github.com/catchorg/Catch2
